p#errorEmail,
#errorNome,
#errorDataNasc,
#errorPassword    {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;

}

:root {
--pricipal: #fff;
--cor-primaria: #ffd900; /* Azul */
--cor-primaria1: #f39c12; /* Azul */
--cor-secundaria: #2ecc71; /* Verde */
--cor-terciaria: #e74c3c; /* Vermelho */
--cor-texto: #222; /* Cor do texto */
--cor-fundo: #ecf0f1; /* Fundo claro */
--cor-borda: #fff; /* Cor de borda */
--cor-destaque: #f39c12; /* Amarelo */
--cor-input:#22222e;
}


h1.text{
color: var(--cor-texto) ;
font-size: 40px;
}

.contente p{
    font-size: 15px ;
    color: #888 ;

}

.con {
display: flex;
flex-direction: row;
width: 100%;
height: 100vh;
} 

.img {
flex: 1;
background-image: url('/img/yeloow.png'); /* Caminho absoluto a partir da raiz pública */
background-color: #F5F5F5;
background-size: contain;
background-position: center;
background-repeat: no-repeat; /* Impede a repetição da imagem */
}



.contente {
flex: 1;
display: flex;
align-items: center;
background-color: var(--pricipal);
flex-direction: column;
justify-content: space-evenly;
width: 100%;
padding-top: 80px;

}

.cabeçalho{
line-height: 3rem;

}


form {
width: 100%;
max-width: 600px;
background-color: transparent;
padding: 20px;
border-radius: 8px;
display: flex;
flex-direction: column;
gap: 20px;
}

label {
display: block;
margin: 10px 0 5px;
color: var(--cor-texto);
}

input[type="text1"],
input[type="date"],
input[type="password"] {
width: 100%;
height: 50px;
padding: 10px;
margin: 5px 0 15px;
border-radius: 4px;
border: transparent;
border-bottom: 2px solid #ddd;
outline: none;
color: var(--cor-texto);
}
z
input::placeholder {
color: #888;               /* Cor do texto do placeholder */
font-size: 16px;           /* Tamanho da fonte */
font-family: sans-serif;        /* Estilo da fonte */
opacity: 1;                /* A opacidade padrão do placeholder é 0.7, podemos definir como 1 para ser completamente opaco */
}

input:hover{
border-bottom: 1px solid var(--cor-primaria);
}

input:focus {
border-color: var(--cor-primaria1); /* Muda a cor da borda para verde quando focado */
}

.button {
width: 100%;
padding: 10px;
background: linear-gradient(45deg, var(--cor-primaria), var(--cor-primaria1)); /* Gradiente linear */
color: white;
border: none;
border-radius: 4px;
font-size: 16px;
cursor: pointer;
}

button:hover {
background: linear-gradient(45deg, var(--cor-primaria1), var(--cor-primaria)); /* Gradiente reverso no hover */
}

