* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #FBAA1B;
    --cor-secundaria: #FBAA1B;
    --texto-cor: #333;
    --fundo-cor: #f9f9f9;
}

body {
    background-color: var(--fundo-cor);
    font-family: 'Poppins', sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
}
.content p{
    color: #555;
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1350px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.img_principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.img img {
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
}

#button {
    width: 100%;
    max-width: 500px;
    height: 40px;
    color: var(--texto-cor);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(45deg, var(--cor-primaria), var(--cor-secundaria));
    transition: 0.3s;
}

.button1 {
    width: 100%;
    max-width: 500px;
    height: 40px;
    color:#fff; /* ou qualquer cor desejada */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(45deg, blue, gray);
    transition: 0.3s;
    text-align: center;
    display: inline-block;
    text-decoration: none; /* Remove sublinhado */
    padding: 10px;
}

.button2 {
    width: 100%;
    max-width: 500px;
    height: 40px;
    color:#fff; /* ou qualquer cor desejada */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(45deg, var(--cor-primaria), var(--cor-secundaria));
    transition: 0.3s;
    text-align: center;
    display: inline-block;
    text-decoration: none; /* Remove sublinhado */
    padding: 10px;
}


.button:hover {
    opacity: 0.8;
}

.itens {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 400px;
}

.icone {
    cursor: pointer;
    transition: transform 0.2s;
}

.icone:hover {
    transform: scale(1.1);
}

.content_desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
    align-items: center;
    gap: 60px;
    justify-content: center;
}

.add-to-cart{
    flex: 0.7;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2b4bfd;
    color: #fff;
}


.text {
    color: var(--texto-cor);
    font-size: 36px;
    font-weight: 700;
}

label{
    color: #333;
}

input#quantidade{
    color: #FBAA1B;
    width: 50px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: var(--cor-secundaria);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.price_valor_lanche{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}



p.valor{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .textos {
        padding-left: 0;
    }
}


